:root {
  --color-primary: #d951e3;
  --color-secondary: #30dc23;
}

.league,
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin: 2px;
}

.title {
  text-align: center;
  padding: 5px;
}

.imageTag {
  border-radius: 5px;
  margin: 10px;
  width: 95%;
  background-color: var(--color-primary);
}

.imageTag img {
  width: 100%;
}

p.abbrTag,
p.slugTag {
  font-size: 12px;
  font-weight: 700;
  color: var(--color-primary);
}

span.abbr,
span.slug {
  font-size: 15px;
  color: var(--color-secondary);
}

.link {
  width: 98%;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .link {
    width: 40%;
  }
}
