:root {
    --color-primary: #D951E3;
    --color-secondary: #30DC23;
  }

.panel {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin: 15px 5px;
    padding:10px 0;
    background-color: var(--color-primary);
}

.pane {
    width:80%;
    background-color: var( --color-secondary);
}

.pane img {
    width:100%;
}

.pane, .pane img {
    border-radius: 10px;
}

.title {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    padding:2px 5px;
    text-align:center;
}

.link {
    text-decoration: none;
}