@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  --color-primary: #D951E3;
  --color-secondary: #30DC23;
}

* {
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
